<!-- From Uiverse.io by abdo_6865 --> 
<div class="radio-input">
  <label for="value-1"
    >Home
    <input type="radio" id="value-1" name="value-radio" value="value-1" />
  </label>
  <label for="value-2"
    >Profile
    <input
      type="radio"
      id="value-2"
      name="value-radio"
      value="value-2"
      checked="true"
    />
  </label>
  <label for="value-3"
    >Settings
    <input type="radio" id="value-3" name="value-radio" value="value-3" />
  </label>
  <label for="value-4"
  >Login
  <input type="radio" id="value-4" name="value-radio" value="value-4"
  
</div>
