.data-form,
.review-submitted {
  color: #201d1d;
  position: relative; 
  margin: 20px;
  top: 40px;
  padding: 20px;
  border-radius: 20px;
  /* z-index: -1; */
}

.data-form {
  background: linear-gradient(to bottom, #646262, #969595);
}
.review-submitted {
  background: linear-gradient(to bottom, rgb(60, 80, 60), #64fd92);
}

.form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem 3rem;
  margin-bottom: 20px;
}
.col-span-2 { grid-column: span 2; }
.form-control { width: 100%; }

.needed::before {
  position:relative;
  right: 10px;
  content: "*";
  color: rgb(101, 2, 2);
  
}

.submit-btn {
  background-color: azure;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: aquamarine;
}

.err {
  display: inline-block;
  color: rgb(184, 5, 5);
  font-size: smaller;
  line-height: 1.2;
}
