:not(:defined) {
  /* visibility: hidden; */
  display: none !important;
}

@font-face {
  font-family: "Comfortaa";
  src: url('../fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}



body{
    
    /* Define custom properties for colors */
    --page-bg-color: #201d1d;
    --text-color: rgb(146, 194, 235);
    --menu-bg-color: #646262;
    --menu-hover-color: #828080;

    /* font-family: Arial, sans-serif; */
    font-family: "Open Sans", sans-serif;
    /* background-color: #201d1d;
    color: aliceblue; */
    background-color: var(--page-bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0; 
}

.page-header {
  display: flex;
  align-items: center; /* Vertically aligns the icon and text */
  gap: 15px; /* Adds some space between the icon and the text */
  padding: 10px;
  position: relative;
}

.content {
    padding: 20px;
}

.accordion-menu {
    position: relative;
    z-index: 10;
}

#login-header-accordion {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    width: max-content;
}

#login-in-menu::part(container) {
  position: relative;
    border:none;
    padding: 10px;
    width: 300px;
}

.data-form {
  background: linear-gradient(to bottom, #646262, #969595);
  
  color: #201d1d;
  position: relative; 
  margin: 20px;
  top: 40px;
  padding: 20px;
  border-radius: 20px;
  /* z-index: -1; */
}

.form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem 3rem;
  margin-bottom: 20px;
}
.col-span-2 { grid-column: span 2; }
.form-control { width: 100%; }

.needed::before {
  position:relative;
  right: 10px;
  content: "*";
  color: rgb(101, 2, 2);
  
}

.submit-btn {
  background-color: azure;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: aquamarine;
}

.err {
  display: inline-block;
  color: rgb(184, 5, 5);
  font-size: smaller;
  line-height: 1.2;
}

