:not(:defined) {
  /* visibility: hidden; */
  display: none !important;
}

@font-face {
  font-family: "Comfortaa";
  src: url('../fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}



body{
    
    /* Define custom properties for colors */
    --page-bg-color: #201d1d;
    --text-color: rgb(146, 194, 235);
    --menu-bg-color: #646262;
    --menu-hover-color: #828080;

    /* font-family: Arial, sans-serif; */
    font-family: "Open Sans", sans-serif;
    /* background-color: #201d1d;
    color: aliceblue; */
    background-color: var(--page-bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0; 
}



.content {
    margin-top: 80px; /* Adjust this value based on the height of your header */
    padding: 20px;
}

.accordion-menu {
    position: relative;
    z-index: 10;
}

#login-header-accordion {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    width: max-content;
}

#login-in-menu::part(container) {
  position: relative;
    border:none;
    padding: 10px;
    width: 300px;
}

