<form id="change_password" method="POST" action="{{ url_for('main.password_changed') }}">
    {{ form.hidden_tag() }}
    <div class="form-wrapper">
        <div>
            <p> {{ form.password.label }} </p>
            <p> {{ form.password (class="form-control", placeholder="Enter new password") }} </p>
            {% for error in form.password.errors %}
            <span class="err">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            <p> {{ form.repeatPassword.label }} </p>
            <p> {{ form.repeatPassword (class="form-control", placeholder="Re-type the password") }} </p>
            {% for error in form.repeatPassword.errors %}
            <span class="err">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <p>
        {{ form.submit(class='submit-btn') }}
        <button type="button" class="cancel-add-user-btn js-cancel-button"
        data-referrer="{{ request.referrer }}"
        >Cancel</button>
        <script src="{{url_for('static', filename='js/cancel_button.js')}}"></script>
    </p>
</form>