<link rel="stylesheet" href="{{ url_for('static', filename='css/dialog_window.css') }}">
<dialog id="js-dialog-main" class="dialog-main">
    <div class="dialog-header">
        {{ title or "Dialog Header" }} 
    </div>
    <div class="dialog-content">
        {% if dialog and action_route %}
            <form id="dialog-form" method="POST" action="{{url_for(action_route)}}">
                {{ dialog.hidden_tag() }}
                <div class="dialog-message-pane js-dialog-message-pane">
                    <p>{{ dialog.message or "Are you sure you want this dialog?"}}</p>
                </div>
                <div class="dialog-buttons">
                    {{ dialog.submit(class="dialog-yes-button js-dialog-yes-button") }}
                    <button type="button" class="dialog-cancel-button js-dialog-cancel-button">CANCEL</button>
                </div>
            </form>
        {% endif %}
    </div>
</dialog>