<header class="page-header">
  <div id="js-auth" data-logout-url="{{ url_for('auth.logout') }}"
    data-login-url="{{ url_for('auth.login') }}"
    data-is-authenticated="{{ current_user.is_authenticated }}"
    style="display: none;"></div>

  <div class="header-left">
    <div class="header-burger">
      <button
        class="sidenav-toggle"
        id="sidenav-toggle"
        type="button"
        aria-controls="left-sidenav-links"
        aria-expanded="false"
        aria-label="Open navigation menu"
      >
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
      </button>
    </div>
    <div class="header-title">{{title}}</div>
  </div>
  <div class="header-central"></div>
  <div class="header-right">
    {% if current_user.is_authenticated %}
    {{ current_user.username }}
      <div class="user-manager">
      <span class="tooltip-host" data-tooltip="Account options">
        <svg class="sign-in js-sign-in">
          <use href="/static/images/sprite_sheet.svg#green-tick-circle" fill="green" stroke-width="4"></use>
        </svg>
      </span>
      {% include 'partials/user_manager_menu.html' %}
      </div>
    {% else %}
      <div class="signin-link-container">
        <a href="{{ url_for('auth.signup') }}">SIGN UP</a>
      </div>
    <span class="tooltip-host" data-tooltip="Sign in">
      <svg class="sign-in js-sign-in" data-login-url="{{ url_for('auth.login') }}">
        <use href="/static/images/sprite_sheet.svg#YT-sign-in"></use>
      </svg>
    </span>
    {% endif %}
  </div>
  <script src="{{ url_for('static', filename='js/sign_in_icon.js') }}"></script>
</header>