{% extends "base.html" %} {% block head %}
<title>Account Manager</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css',v=3) }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='components/cube-loader.css') }}" />

{% endblock %} 
{% block body %}

{% include 'partials/header.html' %}

<div class="content">

{% include 'partials/cube_loader.html' %}

  <div class="db-links">
    <a href="{{ url_for('main.add_user') }}">Add User</a>
    <a href="/query-user">Find User</a>
    <a href="/edit-user">Edit User Infomation</a>
    <a href="/delete-user">Delete User</a>
  </div>
</div>

{% endblock %}
