{% extends "base.html" %}
{% block head %}
  <title>Account Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/data_form.css') }}">
{% endblock %}

{% block body %}
<div class="content">

{% include 'partials/header.html' %}

  <div class="db-links">
    <a href="{{ url_for('main.index') }}">Home</a>
  </div>

  <div class="show-table">
    <strong>Table of All Users:</strong>
    {% for user in users %}
    <p> {{user.id}} {{user.first_name}} {{user.last_name}} {{user.username}} {{user.password_hash}}</p>
    {% endfor %}
    {{ usersdict }}
  </div>




</div>


{% endblock %}