{% extends "base.html" %}
{% block head %}
  <title>Account Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/data_form.css') }}">
{% endblock %}

{% block body %}
<div class="content">

{% include 'partials/header.html' %}

  <div class="db-links">
    <a href="{{ url_for('main.index') }}">Home</a>
  </div>

  <div class="review-submitted">
    <p>User submitted the form:<p>
    {{form.data}}
  </div>


</div>



{% endblock %}